@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Outfit', sans-serif;
  color-scheme: dark light;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0f172a;
  /* slate-900 */
  color: white;
  overflow-x: hidden;
}

#root {
  width: 100%;
  margin: 0 auto;
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(56, 189, 248, 0.5), 0 0 20px rgba(56, 189, 248, 0.3);
  }

  .card-glow:hover {
    box-shadow: 0 0 20px rgba(56, 189, 248, 0.2);
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(14, 165, 233, 0.5);
  /* sky-500/50 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #38bdf8;
  /* sky-400 */
}